

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  
}

:root {
  --color-primary: #6c63ff;
  --color-success: #00bf8e;
  --color-warning: #f7c94b;
  --color-danger: #f75842;
  --color-danger-variant: rgba(247, 88, 66, 0.4);
  --color-white: #fff;
  --color-light: rgba(255, 255, 255, 0.7);
  --color-black: #000;
  --color-bg: #1f2641;
  --color-bg1: #2e3267;
  /* --color-bg2: #0078d4; */
  --color-bg2:rgb(21, 21, 100 );
  --color-text: #777;

  --container-width-lg: 80%;
  --container-width-md: 90%;
  --container-width-sm: 94%;

  --transition: all 400ms ease;
}
body {
  font-family: "Poppins", sans-serif;
  line-height: 1.7;
  color: var(--color-text);

}

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}
section{
  padding: 6rem 0;
}

section h2 {
  text-align: center;
  margin-bottom: 2rem;
}

h1,h2,h3,h4,h5 {
  line-height: 1.2;
}
h1 {
  font-size: 2.4rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.6rem;
}
h4 {
  font-size: 1.3rem;
}
h5 {
  font-size: 1.2rem;
}

a {
  color: var(--color-white);
  
}
img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}
.btn-div {
  position: relative;
  animation: slideInLeft 3s ease-out forwards;
}
@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}


.language-selector span{
    border-radius: 50%;
}
.active,
.active i {
  color: var(--color-warning) !important;
  font-weight: bold;
}

.nav_menu a.active:hover {
  color: var(--color-warning);
}


/* NAVIGATION */
nav {
  width: 100%;
  height: 5rem;
  position: fixed;
  top: 0;
  z-index: 11;
  background: white
}
/* change navabar styles using js */
.window-scroll {
  background: var(--color-white);
  box-shadow: 0 1rem 2rem rgb(0, 0, 0, 0.2);
}

.nav_container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  padding: 0 1rem;
  
}
.nav_container #logo {
  width: 60px;
  height: 60px;
  margin-top: 15px;
 
}

nav button {
  display: none;
 
}

.nav_menu {
  display: flex;
  align-items: center;
  gap: 4rem;
}
.nav_menu a {
  font-size: 0.9rem;
  font-weight: 600;
  transition:  var(--transition);
  color: var(--color-bg2);
}
.nav_col{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.nav_menu a:hover {
  color: var(--color-warning);
}
.nav_menu i {
  font-size: 1.2rem;
}
.uil-bars,
.uil-multiply {
  color: var(--color-bg2);
  margin-right: 15px;
}
#fr, #en{
  cursor: pointer;
}
.list-boule{
  list-style: square;
  margin-left: 20px;
  margin-bottom: 10px;
  text-align: justify;
}

/* HERO */
.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 25px;
  justify-content: center;
   background: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 50%, rgba(21, 21, 100, 1) 100%), url(assets/power-lines-532720_1280.jpg) no-repeat center/cover;
    color: var(--color-white);
}
.hero h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  color:var(--color-white);
}
.hero h2 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  font-family: satisfy;
  color:var(--color-white);
}

.plain-text{
  color: var(--color-text);
  font-size: 1rem;
  text-align: justify;
  margin: 0 auto;
  line-height: 1.9;
  padding: 20px;
}

.container_solutions p{
  color: var(--color-text);
}

.fa-arrow-down {
  color: var(--color-bg2);
  margin-left: 5px;
}
.stats{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 1rem;
  padding: 20px;
  background-color: var(--color-bg2);
  color: var(--color-white);
}
.stats p{
  text-align: center;
}
.impact-stats{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}
.stat{
  width: 200px;
  height: 200px;
  padding: 20px;
  background-color: var(--color-bg2);
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.stat p{
  text-align: center;
}
.stat i{
  font-size: 4rem;
  margin-bottom: 10px;
  margin-top: 0;
}
.stat h2{
  margin-bottom: 5px;
}
#first{
  color: var(--color-success);
}
#second{
  color: var(--color-primary);
}
#third{
  color: var(--color-warning);
}
#fourth{
  color: var(--color-white);
}

/* solutions */
.solutions {
  padding: 20px;
}
.container_solutions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 40px;
  background-color: #f7f9fc;
  padding: 20px;
  border-right: 5px solid var(--color-bg2);
  position: relative;
}

.solution_pic {
  width: 50%;
}
.solution_pic img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.solution_texte {
  width: 50%;

}
.solution_texte p{
  margin-bottom: 20px;
  text-align: justify;
  line-height: 1.8;
}
.solution_texte h2{
  margin-bottom: 10px;
}

.solutions ul{
  list-style: inside;
  margin-left: 20px;
  margin-bottom: 20px;
}
.solutions ul li{
  list-style: square;
}
.solution-icon{
  position: absolute;
  top: 0;
  right: 0;
  font-size: 2rem;
  color: var(--color-white);
  background-color: var(--color-bg2);
  padding: 10px;
  border-bottom-left-radius: 10px;
  border-bottom: 2px solid var(--color-white);
  border-left: 2px solid var(--color-white);
  z-index: 1;
}
/* projects */
.projects{
  display: flex;
  text-align: flex-start;
  flex-direction: column;
  height: 80vh;
  align-items: flex-start;
  padding: 30vh 20px 20px 20px;
 background: linear-gradient(to bottom, var(--color-bg2) 0%, rgb(255,255,255,0.5) 50%, rgb(255,255,255,0) 100%), url(assets/electricity-2366011_1280.jpg) no-repeat center/cover;
}

.projects h2{
  margin-bottom: 20px;
  color: var(--color-white);
  align-self: flex-start;
}
.projects p{
  margin-bottom: 30px;
  max-width: 600px;
  line-height: 1.8;
  color: var(--color-white);
}
.titre_mid{
  text-align: center;
  margin-bottom: 2rem;
}

.section-p1 {
  padding: 20px 20px 0 20px;
}
.pro-links{
  margin-top: 10px;
  
}
.pro-links i{
  padding: 10px 13px;
  border: 1px solid rgb(21, 21, 100 );
  cursor: pointer;
  color: rgb(21, 21, 100);
  transition: 0.4s ease-in-out;
}
.pro-links i:hover{
  background-color: rgb(21, 21, 100);
  color: white;
}
.swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: white;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 25px;
      background: whitesmoke;
      width: 300px;
      
    }

    .swiper-slide img {
      display: block;
      width: 300px;
      height: 300px;
      object-fit: cover;
      bottom: 20px;
    }


    .swiper-slide:nth-child(2n) {
      width: 300px;
    }

    .swiper-slide:nth-child(3n) {
      width: 300px;
    }
    
/* footer */
#footer{
  padding: 4vw ;
  background-color: rgb(21, 21, 100 );
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
#footer .footer-col{
  padding-bottom: 40px;
}
#footer h3{
  color: rgb(241, 240, 245);
  padding-bottom: 20px;
  font-weight: 600;
}
#footer  li{
  color: #7b838a;
  padding: 10px 0;
  font-size: 15px;
  list-style: none;
  transition: 0.3s ease-in-out;
}
#footer li:hover{
  color: rgb(241, 240, 245);
  cursor: pointer;
}
#footer p{
  color: #7b838a;
}
footer input{
  width: 220px;
  padding: 15px 12px;
  background: #334F6C;
  border: none;
  color: white;
  
}
footer .subscribe a{
  text-decoration: none;
  font-size: 0.9rem;
  padding: 15px 12px;
  background-color: white;
  font: 600;
  
}
footer .subscribe  a.yellow{
  color: rgb(21, 21, 100 );
  background-color: white;
  transition: 0.3s ease;
}
footer .subscribe a.yellow:hover{
  color: white;
  background-color: rgb(21, 21, 100 );
}
#footer .copyright{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}
#footer .copyright .pro-links{
  margin-top: 0px;
}
#footer .copyright .pro-links i{
  background-color: #5f7185;
  color: white;
  transition: background-color 0.3s ease;
}
#footer .copyright .pro-links i:hover{
  background-color: #FDC93B;
  color: #2c2c2c;
}
#footer .copyright p{
  color: white
}
.technoweb a {
  font-size: 18px;
  color: #FDC93B;
  transition: 0.3s ease-in-out;
  font-weight: 700;
  font-family: 'Reey', cursive;
}
.technoweb a:hover {
  font-size: 16px;
  color: white;
  text-decoration: underline;
}

/* MEDIA */
@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);

  }
  h1 {
    font-size: 2.2rem;
  }
  h2 {
    font-size: 1.7rem;
  }
  h3 {
    font-size: 1.4rem;
  }

  h4 {
    font-size: 1.2rem;
  }
  /* NAv bar ///*/


  nav button {
    display: inline-block;
    background: transparent;
    font-size: 1.8rem;
    color: var(--color-white);
    cursor: pointer;
  }

  nav button#close-menu-btn {
    display: none;
  }

  .nav_menu {
    position: fixed;
    top: 5rem;
    right: 5%;
    height: fit-content;
    width: 12rem;
    flex-direction: column;
    gap: 0;
    display: none;
  }

  .nav_menu li {
    width: 100%;
    height: 4rem;
    animation: animateNavItems 400ms linear forwards;
    transform-origin: top right;
    opacity: 0;
    color: var(--color-white);
  }

  .nav_menu li:nth-child(2){
    animation-delay: 200ms;
  }
  .nav_menu li:nth-child(3){
    animation-delay: 400ms;
  }
  .nav_menu li:nth-child(4){
    animation-delay: 600ms;
  }

  @keyframes animateNavItems {
    0% {
      transform: rotateZ(-90deg) rotateX(90deg) scale(0.1);
    }
    100% {
      transform: rotateZ(0deg) rotateX(0deg) scale(1);
      opacity: 1;
    }
  }

  .nav_menu li a {
    background: var(--color-white);
    box-shadow: -4rem 6rem 10rem rgb(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    color: var(--color-bg2);
    display: grid;
    place-items: center;
  }

  .nav_menu li a:hover {
    background: var(--color-bg2);
    color: var(--color-white);
  }

}

/*Mobile Media queries */
 @media screen and (max-width: 680px) {
    .container {
      width: var(--container-width-sm);
    }

    /*Nav bar */

    .nav_menu{
      right: 3%;
    }
  .nav_container #logo {
  width: 40px;
  height: 40px;
  margin-top: 15px;
 
  }
  .language-selector{
    right: 100px;
    position: absolute;
  }
  .language-selector span{
    border-radius: 50%;
  }

  .swiper-slide img {
      display: block;
      width: 100%;
      height: 300px;
      object-fit: cover;
    }
  /* HERO */
  .hero {
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 15px;
    justify-content: center;
     background: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 50%, rgba(21, 21, 100, 1) 100%), url(assets/power-lines-532720_1280.jpg) no-repeat center/cover;
    color: var(--color-white);
  }
  .hero h1, header h1, .about-header h1, .contact-header h1, .consultance-header h1, .construction-header h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  .hero h2 {
    font-size: 1rem;
    margin-bottom: 2rem;
    font-family: satisfy;
  }
    .contact{
    background-color: var(--color-bg2);
    color: var(--color-white);
    border: none;
  }
  /* stats */
  .stat{
  width: 100%;
  height: 140px;
  padding: 15px;
  background-color: var(--color-bg2);
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.stat i{
  font-size: 1.5rem;
  margin-bottom: 4px;
  margin-top: 0;
}
/* solutions */
.container_solutions {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.solution_pic {
  width: 100%;
  height: auto;
}
.solution_texte{
  width: 100%;
}


.projects h2{
  margin-bottom: 15px;
  color: var(--color-white);
  text-align: left;
}
.projects {
  height: auto;
  padding: 20vh 20px 20px 20px;
}
.solution-icon{
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.5rem;
  color: var(--color-white);
  background-color: var(--color-bg2);
  padding: 8px;
  border-bottom-left-radius: 8px;
  border-bottom: 1px solid var(--color-white);
  border-left: 1px solid var(--color-white);
  z-index: 1;
}

}
@media screen and (max-width: 400px) {
  .nav_menu {
    width: 10rem;
    font-size: 0.8rem;
  }
  .nav_container #logo {
  width: 30px;
  height: 30px;
  margin-top: 15px;
 
  }
  .language-selector{
    right: 80px;
    position: absolute;
  }
  .hero h1, header h1, .about-header h1, .contact-header h1, .consultance-header h1, .construction-header h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  .hero h2 {
    font-size: 0.9rem;
    margin-bottom: 2rem;
    font-family: satisfy;
  }
  
}

/* INFINITE ANIMATION CSS */
.wrapper {
  width: 90%;
  max-width: 1536px;
  margin-inline: auto;
  position: relative;
  height: 200px;
  margin-top: 5rem;
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 5%,
    rgba(0, 0, 0, 1) 90%,
    rgba(0, 0, 0, 0)
  );
}

@keyframes scrollLeft {
  to {
    left: -300px;
  }
}

.item {
  width: 150px;
  height: 120px;
  background-color:transparent;
  border-radius: 6px;
  position: absolute;
  left: max(calc(150px * 8), 100%);
  animation-name: scrollLeft;
  animation-duration: 40s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.item1 {
  animation-delay: calc(40s / 8 * (8 - 1) * -1);
  background-image: url('assets/logo_part/Airtel.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.item2 {
  animation-delay: calc(40s / 8 * (8 - 2) * -1);
  background-image: url('assets/logo_part/airways.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.item3 {
  animation-delay: calc(40s / 8 * (8 - 3) * -1);
  background-image: url('assets/logo_part/anser.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.item4 {
  animation-delay: calc(40s / 8 * (8 - 4) * -1);
  background-image: url('assets/logo_part/Orange.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.item5 {
  animation-delay: calc(40s / 8 * (8 - 5) * -1);
  background-image: url('assets/logo_part/raganet.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.item6 {
  animation-delay: calc(40s / 8 * (8 - 6) * -1);
  background-image: url('assets/logo_part/raxio.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.item7 {
  animation-delay: calc(40s / 8 * (8 - 7) * -1);
  background-image: url('assets/logo_part/Snel.jpeg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.item8 {
  animation-delay: calc(40s / 8 * (8 - 8) * -1);
  background-image: url('assets/logo_part/sterling.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}





